html,
body {

margin: 0;
padding: 0;

}

.page {
display: flex;

flex-direction: column;
font-family: 'Courier New', Courier, monospace;

}

.header {

display: flex;
background-color: #1f2937;
padding: 32px 64px;

align-items: center;
justify-content: space-between;



}



.back {

font-size: 24px;
color: white;

background-color: #3882f6;
border-color: #3882f6;
border-style:solid;
border-radius: 12px;
padding: 16px 32px;

}

.backbutton {

padding-right: 64px;
    
}

.mivititle {

display: flex;
padding: 48px 0px;
font-size: 64px;
font-weight: 900;

justify-content: center;

}

a {

text-decoration: none;

}

.missionvisionmain div{

    display: flex;
    flex: 1;
    height: 1000px;

    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 64px 256px;

    line-height: 128px;
    background-color: #e5e7eb;
    font-size: 32px;

}


.copyrightfooter {

    background-color: #1f2937;
    padding: 64px 128px;
    
    }
    
.crtext {
    
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
    
    }