
html, body {
    margin: 0;
    padding: 0;
  }  

.page {

    display: flex;
    flex-direction: column;
    font-family:'Courier New', Courier, monospace;
    

}

.header {

    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #1f2937;
    padding: 32px 64px;
    justify-content: space-between;
    align-items: center;
    

}

.right.header {

    font-size: 24px;
    color: #e5e7eb;
    gap: 64px;
  
}

.hdr2 {

    display: flex;
    background-color: #1f2937;
    padding: 64px;
    flex-direction: row;
    
    
        

}

.bold,
.small {

    display: flex;
    flex-direction: column;
    
   
    padding: 16px 64px;
    width: 500px;
   

}

.bold {

    font-size: 48px;
    color: #e5e7eb;
    font-weight: 900;
    
}

.small {

    font-size: 24px;
    color: #e5e7eb;
    text-align: justify;
    line-height: 64px;

}

img { 
    
    max-width: 100%;
    max-height: 100%;

}

.rightphoto {

    display: flex;
    flex-direction: column;

    margin-left: auto;

    width: 1200px;
    height: auto;
    min-width: 600px;
    max-width: 800px;

    margin-right: 64px;

    flex: 1 1 auto;

}

.About {

font-size: 24px;
color: white;
background-color: #3882f6;
border-color: #3882f6;
margin-left: 64px;
margin-top: 16px;
border-radius: 12px;
padding: 16px 32px;
border-style: solid;

}

.centertextbody {

    display: flex;
    justify-content: center;
    
    font-size: 36px;
    font-weight: 900;

    padding: 64px;

    color: #1f2937;
}


.makerow {

display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
column-gap: 16px;
margin-bottom: 64px;

}

.photorow{

display: flex;
flex-direction: column;
align-items: center;


}

.photo {

    border: 4px solid#3882f6;
    border-radius: 12px;
    min-width: 200px;
        

}

.text {

    text-align:center;
    width: 200px;
    font-size: 18px;
    color: #1f2937;
    padding: 32px;

}

.quotetext {

    margin-top: 128px;
    
    display: flex;
    
    justify-content: center;
    text-align: justify;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quoteperson {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 256px;
    color:#1f2937;
    font-weight: 900;
    font-size: 24px;

    margin-bottom: 128px;

}

.quote {

    
    background-color: #e5e7eb;
    line-height: 64px;

}

.footer {

    padding: 64px 128px;
    

}

.footermain {

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 64px 128px;
background-color: #3882f6;
border-radius: 12px;

}

.leftitems {
    
    color: #e5e7eb;

}

.leftfooterbold {

    font-size: 36px;
    font-weight: 900;
    
}

.lfbsubtext {

    font-size: 18px;

}

.signup2 {

    font-size: 24px;
    color: white;
    background-color: #3882f6;
    border-color: white;
    border-radius: 12px;
    padding: 16px 32px;
    border-style: solid;
    font-weight: 900;

}

.copyrightfooter {

background-color: #1f2937;
padding: 64px 128px;

}

.crtext {

    display: flex;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;

}

a {

text-decoration: none;

color: #e5e7eb;

}