html,
body {

margin: 0;
padding: 0;

}

.page {
display: flex;
flex-direction: column;
font-family: 'Courier New', Courier, monospace;

}

.header {

display: flex;
background-color: #1f2937;
padding: 32px 64px;

align-items: center;
justify-content: space-between;



}



.back {

font-size: 24px;

background-color: #3882f6;
border-color: #3882f6;
border-style:solid;
border-radius: 12px;
padding: 16px 32px;

}

.backbutton {

padding-right: 64px;
    
}

.hardwaretitle {

display: flex;
color: white;
padding: 16px 0px;


}

.httext {


font-size: 48px;
font-weight: 900;

}

a {

text-decoration: none;
color: white;

}

.hardwareinfo {

    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 64px 128px;
    
    line-height: 64px;
    


}

.hitext {

    font-size: 24px;
    color: white;
    width: 500px;
    margin: 16px 0px;

}

.hirow {

display: flex;
background-color: #1f2937;
align-items: center;

}

.hardwareheaderphoto {

padding-right: 128px;
margin-left: auto;

max-width: 800px;
min-width: 600px;

}

.hardwareitems div{

    border: 1px solid red;
    display: flex;
    flex: 1;
    height: 500px;

}